/* Todo - Fix wonky formatting that happens before the data gets actually populated from the server */
/* Custom, iPhone Retina */ 
*
{
    padding: 0;
    margin: 0;

    /* Basically Slate Gray */
    background-color: rgb(200, 200, 200);

    box-sizing: border-box;
}

/* Gets applied to essentially everything, so this is where universal code goes.
    it's just easier for me to read if it's all in a code block and it's 
    basically computationally identical. */
@media only screen and (min-width : 320px) 
{
    /* Minor font size changes for smaller browsers */
    p, h4, h5, h6, #skillsList > li { font-size: 1.6em }

    #siteTitle
    {
        text-align: center;
        font-size: 54px;
    }

    .sideColumn
    {
        width: 0;
    }

    #centerColumn
    {
        width: 100%;        
        margin: 10px 0;
        padding: 10px;
    }

    #centerColumn > div
    {
        margin: 20px 0;
    }

    #selectionContainer
    {
        width: 100%;
    }

    .column
    {
        float: left;
        overflow: auto;   
        min-height: 100vw;      
    }

    #siteTitle
    {
        text-align: center;
        margin-top: 40px;
    }

    #introContainer
    {
        margin-top: 40px;
        overflow: auto;
        clear: both;
    }

    #introContainer > img, #introContainer > div 
    {
        float: left;
    }

    #pokemonImage
    {
        min-width: 200px;
        min-height: 200px;

        border: 5px solid black;
        background: white;
    }

    #nameDescriptContainer
    {
        padding-left: 10px;
        width: calc(100% - 220px);
    }
    
    #pokemonDescription
    {
        overflow: auto;
    }

    #selectionContainer 
    {
        text-align: center;
        margin-top: 20px;
    }

    #selectionContainer > button
    {
        display: inline-block;
        background: white;
        border: 1px black solid;
        padding: 10px;
        text-align: center;     
        width: 100px;   
    }

    #selectionContainer > input 
    {
        display: inline-block;
        background: white;
        border: 1px black solid;
        padding: 10px;

        /* Todo - Figure out why I need the 4px here */
        width: calc(100% - 100px - 4px); 

        /* Todo - Figure out why making height greater than this makes selection box things wonky */
        height: 100%;
    }

    .possibleMove
    {
        padding: 5px;
        border-radius: 5px;
        border: 1px black solid;
        display: inline-block;
        margin: 2px;
        background-color: white;
    }

    /* Todo - Fix the stacking that occurs in special defense and attack b/c there's too many characters */
    .abilityContainer
    {
        margin-bottom: 20px;
    }

    .statContainer
    {
        display: inline-block;
        width: calc(100% / 6 - 4px);
        padding: 10px;
        border: 1px black solid;
        background-color: white;
        text-align: center;
    }

    .statImage
    {
        width: 30px;
        height: 30px;
        background-color: inherit;
    }

    .statName
    {
        background-color: inherit;
    }

    .statValue
    {
        background-color: inherit;
    }

    .evolutionBox  
    {
        display: inline-block;
        padding: 10px;
        text-align: center;
        border: 1px black solid;
        background-color: white;
    }

    .evolutionImage
    {
        background-color: inherit;
    }

    .evolutionName
    {
        background-color: inherit;
    }

    #evolvedFromContainer, #evolvesToContainer
    {
        display: inline-block;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px)
{

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) 
{
    p, h4, h5, h6, #skillsList > li { font-size: 1.4em }

    .sideColumn
    {
        width: 10%;
    }

    #centerColumn
    {
        width: 80%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) 
{
    .sideColumn
    {
        width: 15%;
    }

    #centerColumn
    {
        width: 75%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) 
{
    p, h4, h5, h6, #skillsList > li { font-size: 1.2em }

    .sideColumn
    {
        width: 20%;
    }

    #centerColumn
    {
        width: 60%;
    }
}