/* Custom, iPhone Retina */ 
*
{
    padding: 0;
    margin: 0;

    /* Basically Slate Gray */
    background-color: #708090;
}



/* Gets applied to essentially everything, so this is where universal code goes.
    it's just easier for me to read if it's all in a code block and it's 
    basically computationally identical. */
@media only screen and (min-width : 320px) 
{
    #siteTitle
    {
        text-align: center;
    }

    .sideColumn
    {
        width: 0;
    }

    #centerColumn
    {
        width: 100%;        
        margin: 10px 0;
        padding: 10px;
    }

    .column
    {
        float: left;
        overflow: auto;   
        min-height: 100vw;      
    }

    #siteTitle
    {
        text-align: center;
        margin-top: 40px;
    }

    #introContainer
    {
        margin-top: 40px;
        overflow: auto;
        clear: both;
    }

    #introContainer > img, #introContainer > div 
    {
        float: left;
    }

    #pokemonImage
    {
        min-width: 200px;
        min-height: 200px;

        border: 5px solid black;
        background: white;
    }

    #nameDescriptContainer
    {
        padding-left: 10px;
        width: calc(100% - 220px);
    }
    
    #pokemonDescription
    {
        overflow: auto;
    }

    #randomizeButton
    {
        background: white;
        border: 1px black solid;
        padding: 10px;
        text-align: center;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px)
{

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) 
{
    .sideColumn
    {
        width: 10%;
    }

    #centerColumn
    {
        width: 80%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) 
{
    .sideColumn
    {
        width: 15%;
    }

    #centerColumn
    {
        width: 75%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) 
{
    .sideColumn
    {
        width: 20%;
    }

    #centerColumn
    {
        width: 60%;
    }
}